* {
  box-sizing: border-box;
}

a {
  color: #ddd;
  text-decoration: none;
}

@font-face {
  font-family: OpenSans;
  src: url("../font/OpenSans.ttf");
}
body {
  background: #333;
  color: #ddd;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  line-height: 1;
  font-size: 1rem;
  overflow: hidden;
  font-family: OpenSans, serif;
}

@media screen and (max-width: 767px) {
  .side, .main, .player {
    position: absolute;
    left: 0;
  }

  [data-toggle=side] {
    visibility: visible !important;
  }

  .side, .main {
    top: 0;
    height: 100vh;
  }

  .player {
    flex-direction: column;
    bottom: 0;
    z-index: 2;
    background: #333 !important;
    box-shadow: inset 0 0 50px rgba(17, 17, 17, 0.5);
  }
  .player * {
    width: 100%;
    text-align: center;
  }

  .main, .player {
    width: 100vw;
  }

  .side {
    z-index: 4;
    background: #333;
    width: 100vw !important;
  }
  .side.active {
    width: 0px !important;
  }

  #search {
    width: auto !important;
    flex-grow: 1;
    margin-left: 1rem;
  }

  #player-title {
    font-size: 1.5rem;
  }

  .player-icon {
    display: none;
  }

  #slider-value {
    text-align: left;
  }

  #slider-max {
    text-align: right;
  }

  .sm-none {
    display: none;
  }
}
.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  background: rgba(17, 17, 17, 0.7);
}
.wrapper [data-toggle=side] {
  visibility: hidden;
}
.wrapper .side {
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: inset 0 0 30px #111;
  padding: 0.25rem 0;
  transition: width 0.5s;
  width: 240px;
}
.wrapper .side .divider, .wrapper .side .header, .wrapper .side .item {
  padding: 0.5rem 1.5rem;
}
.wrapper .side .brand {
  gap: 0.25rem;
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem 1.5rem 0 1.5rem;
}
.wrapper .side .brand i {
  font-size: 2.5rem;
}
.wrapper .side .divider {
  border-bottom: 1.5pt solid #888;
  margin: 1rem 1.5rem;
  padding: 0;
}
.wrapper .side .header {
  color: #888;
  text-transform: uppercase;
}
.wrapper .side .item {
  display: flex;
  align-items: center;
  transition: background 0.5s, border-color 0.5s;
  border-left: 2px solid transparent;
  gap: 0.3rem;
  white-space: nowrap;
}
.wrapper .side .item.active:not(.disabled) {
  border-color: #ddd;
}
.wrapper .side .item:hover:not(.disabled) {
  background: rgba(17, 17, 17, 0.7);
}
.wrapper .side .item i {
  font-size: 1.5rem;
}
.wrapper .side .item.disabled {
  opacity: 0.5;
}
.wrapper .main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: auto;
}
.wrapper .main .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.wrapper .main .content {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.wrapper .main .content #list {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}
.wrapper .main .content .header {
  background: rgba(51, 51, 51, 0.8);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.wrapper .main .player {
  display: flex;
  align-items: center;
  background: rgba(51, 51, 51, 0.5);
  padding: 0.75rem;
  gap: 0.75rem;
}
.wrapper .main .player .details {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: 100px;
}
.wrapper .main .player .slider-values {
  display: flex;
  justify-content: space-between;
}
.wrapper .main #player-title {
  flex-grow: 1;
}
.wrapper .main #search {
  width: 360px;
}

.card {
  padding: 1rem;
  margin: 0.5rem 1rem;
  cursor: pointer;
  transition: background 0.5s;
  border-bottom: thin solid #888;
}
.card:hover, .card:active {
  background: rgba(17, 17, 17, 0.8);
}

td {
  padding: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

tr {
  border: none !important;
}

table {
  border-collapse: collapse;
}

.secondary {
  color: #ddd;
  font-size: smaller;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.button {
  color: #888;
  padding: 0.2rem;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 2px solid #888;
  transition: background 0.5s, color 0.5s, border-color 0.5s;
  cursor: pointer;
}
.button:hover {
  background: #111;
  border-color: #ddd;
  color: #ddd;
}

.toggler label {
  cursor: pointer;
}
.toggler input {
  display: none;
}
.toggler input ~ label.on {
  display: none;
}
.toggler input ~ label.off {
  display: block;
}
.toggler input:checked ~ label.on {
  display: block;
}
.toggler input:checked ~ label.off {
  display: none;
}

button {
  font: inherit;
  color: #888;
  border: 2px solid #888;
  background: none;
  outline: none;
  border-radius: 10px;
}
button:hover {
  background: rgba(17, 17, 17, 0.7);
  border-color: #ddd;
  color: #ddd;
}

input {
  font: inherit;
  font-size: 0.9rem;
  color: #ddd;
  border: none;
  outline: none;
  background: rgba(136, 136, 136, 0.05);
  border-radius: 20px;
}

.input-group {
  background: rgba(136, 136, 136, 0.05);
  border-radius: 2rem;
}
.input-group > * {
  padding: 0.5rem 1rem;
}
.input-group > *:first-child {
  border-radius: 2rem 0 0 2rem;
}
.input-group > *:last-child {
  border-radius: 0 2rem 2rem 0;
}

.flex, .input-group {
  display: flex;
}
.flex.row, .row.input-group {
  flex-direction: row;
}
.flex.column, .column.input-group {
  flex-direction: column;
}
.flex.rrow, .rrow.input-group {
  flex-direction: row-reverse;
}
.flex.rcolumn, .rcolumn.input-group {
  flex-direction: column-reverse;
}
.flex.start, .start.input-group {
  justify-content: start;
}
.flex.center, .center.input-group {
  justify-content: center;
}
.flex.end, .end.input-group {
  justify-content: end;
}
.flex.between, .between.input-group {
  justify-content: space-between;
}
.flex.top, .top.input-group {
  align-items: flex-start;
}
.flex.middle, .input-group {
  align-items: center;
}
.flex.bottom, .bottom.input-group {
  align-items: flex-end;
}
.flex.grow, .grow.input-group {
  flex-grow: 1;
}

.text-xxs, .wrapper .main .player .slider-values {
  font-size: 0.7rem;
}

.text-xs {
  font-size: 0.8rem;
}

.text-sm {
  font-size: 0.9rem;
}

.text-lg {
  font-size: 1.5rem;
}

.text-xl {
  font-size: 2rem;
}

.text-xxl {
  font-size: 2.5rem !important;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 0.1rem;
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotate {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
}

.slider {
  overflow: hidden;
}

input[type=range] {
  width: 100%;
  height: 4px;
  overflow: hidden;
  cursor: pointer;
}
input[type=range], input[type=range]::-webkit-slider-runnable-track, input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range][list]::-webkit-slider-container {
  min-height: 4px;
}
input[type=range]::-webkit-slider-container {
  -webkit-user-modify: read-write !important;
  height: 4px;
  background: #888;
  border: none;
}
input[type=range]::-moz-range-track {
  height: 4px;
  background: #888;
  border: none;
}
input[type=range]::-webkit-slider-thumb {
  width: 5px;
  height: 4px;
  box-shadow: -100vh 0 0 100vh #ddd;
  background-color: #ddd;
  border: none;
}
input[type=range]::-moz-range-thumb {
  width: 5px;
  height: 4px;
  box-shadow: -100vh 0 0 100vh #ddd;
  background-color: #ddd;
  border: none;
}
input[type=range]:focus {
  outline: none;
}

.particle-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  left: 0;
  top: 0;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    transform: translate3d(34vw, 60vh, 8px);
  }
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(34vw, 60vh, 8px);
  }
}
.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.05;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  transform: translate3d(61vw, 66vh, 61px);
  background: hsl(285deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-2 {
  100% {
    transform: translate3d(57vw, 29vh, 10px);
  }
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(57vw, 29vh, 10px);
  }
}
.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.07;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  transform: translate3d(9vw, 39vh, 19px);
  background: hsl(111deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-3 {
  100% {
    transform: translate3d(63vw, 23vh, 72px);
  }
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(63vw, 23vh, 72px);
  }
}
.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.96;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  transform: translate3d(55vw, 58vh, 4px);
  background: hsl(218deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-4 {
  100% {
    transform: translate3d(68vw, 37vh, 97px);
  }
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(68vw, 37vh, 97px);
  }
}
.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.48;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  transform: translate3d(44vw, 81vh, 58px);
  background: hsl(53deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-5 {
  100% {
    transform: translate3d(44vw, 77vh, 13px);
  }
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(44vw, 77vh, 13px);
  }
}
.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.31;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  transform: translate3d(27vw, 48vh, 63px);
  background: hsl(29deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-6 {
  100% {
    transform: translate3d(58vw, 6vh, 2px);
  }
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(58vw, 6vh, 2px);
  }
}
.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.73;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  transform: translate3d(40vw, 55vh, 46px);
  background: hsl(277deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-7 {
  100% {
    transform: translate3d(58vw, 82vh, 78px);
  }
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(58vw, 82vh, 78px);
  }
}
.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.3;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  transform: translate3d(10vw, 24vh, 7px);
  background: hsl(245deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-8 {
  100% {
    transform: translate3d(54vw, 88vh, 13px);
  }
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(54vw, 88vh, 13px);
  }
}
.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.49;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  transform: translate3d(17vw, 19vh, 50px);
  background: hsl(197deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-9 {
  100% {
    transform: translate3d(27vw, 19vh, 40px);
  }
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(27vw, 19vh, 40px);
  }
}
.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.96;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  transform: translate3d(28vw, 62vh, 40px);
  background: hsl(186deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-10 {
  100% {
    transform: translate3d(36vw, 5vh, 57px);
  }
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(36vw, 5vh, 57px);
  }
}
.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.67;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  transform: translate3d(67vw, 40vh, 97px);
  background: hsl(36deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-11 {
  100% {
    transform: translate3d(73vw, 32vh, 23px);
  }
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(73vw, 32vh, 23px);
  }
}
.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.23;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  transform: translate3d(3vw, 87vh, 85px);
  background: hsl(323deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-12 {
  100% {
    transform: translate3d(57vw, 72vh, 65px);
  }
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(57vw, 72vh, 65px);
  }
}
.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.06;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  transform: translate3d(48vw, 43vh, 81px);
  background: hsl(231deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-13 {
  100% {
    transform: translate3d(78vw, 74vh, 86px);
  }
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(78vw, 74vh, 86px);
  }
}
.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.41;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  transform: translate3d(34vw, 1vh, 22px);
  background: hsl(37deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-14 {
  100% {
    transform: translate3d(5vw, 66vh, 88px);
  }
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(5vw, 66vh, 88px);
  }
}
.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.37;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  transform: translate3d(86vw, 72vh, 2px);
  background: hsl(259deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-15 {
  100% {
    transform: translate3d(40vw, 12vh, 12px);
  }
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(40vw, 12vh, 12px);
  }
}
.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.28;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  transform: translate3d(37vw, 84vh, 24px);
  background: hsl(206deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-16 {
  100% {
    transform: translate3d(86vw, 70vh, 68px);
  }
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(86vw, 70vh, 68px);
  }
}
.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.16;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  transform: translate3d(73vw, 81vh, 48px);
  background: hsl(128deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-17 {
  100% {
    transform: translate3d(55vw, 81vh, 29px);
  }
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(55vw, 81vh, 29px);
  }
}
.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.44;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  transform: translate3d(39vw, 25vh, 66px);
  background: hsl(250deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-18 {
  100% {
    transform: translate3d(31vw, 69vh, 98px);
  }
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(31vw, 69vh, 98px);
  }
}
.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.58;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  transform: translate3d(43vw, 58vh, 14px);
  background: hsl(74deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-19 {
  100% {
    transform: translate3d(37vw, 31vh, 34px);
  }
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(37vw, 31vh, 34px);
  }
}
.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.09;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  transform: translate3d(68vw, 70vh, 85px);
  background: hsl(318deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-20 {
  100% {
    transform: translate3d(3vw, 19vh, 69px);
  }
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(3vw, 19vh, 69px);
  }
}
.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.97;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  transform: translate3d(12vw, 15vh, 5px);
  background: hsl(12deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-21 {
  100% {
    transform: translate3d(39vw, 21vh, 72px);
  }
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(39vw, 21vh, 72px);
  }
}
.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.85;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  transform: translate3d(85vw, 22vh, 76px);
  background: hsl(345deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-22 {
  100% {
    transform: translate3d(17vw, 80vh, 84px);
  }
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(17vw, 80vh, 84px);
  }
}
.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.42;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  transform: translate3d(88vw, 42vh, 10px);
  background: hsl(4deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-23 {
  100% {
    transform: translate3d(47vw, 14vh, 65px);
  }
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(47vw, 14vh, 65px);
  }
}
.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.14;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  transform: translate3d(42vw, 50vh, 17px);
  background: hsl(104deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-24 {
  100% {
    transform: translate3d(28vw, 88vh, 41px);
  }
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(28vw, 88vh, 41px);
  }
}
.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 1;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  transform: translate3d(70vw, 10vh, 98px);
  background: hsl(178deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-25 {
  100% {
    transform: translate3d(88vw, 50vh, 91px);
  }
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(88vw, 50vh, 91px);
  }
}
.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.98;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  transform: translate3d(37vw, 2vh, 1px);
  background: hsl(68deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-26 {
  100% {
    transform: translate3d(61vw, 6vh, 45px);
  }
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(61vw, 6vh, 45px);
  }
}
.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.88;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  transform: translate3d(31vw, 54vh, 22px);
  background: hsl(162deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-27 {
  100% {
    transform: translate3d(25vw, 87vh, 5px);
  }
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(25vw, 87vh, 5px);
  }
}
.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.56;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  transform: translate3d(5vw, 42vh, 12px);
  background: hsl(171deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-28 {
  100% {
    transform: translate3d(62vw, 75vh, 16px);
  }
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(62vw, 75vh, 16px);
  }
}
.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 1;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  transform: translate3d(53vw, 30vh, 32px);
  background: hsl(74deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-29 {
  100% {
    transform: translate3d(66vw, 82vh, 36px);
  }
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(66vw, 82vh, 36px);
  }
}
.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.45;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  transform: translate3d(78vw, 53vh, 9px);
  background: hsl(209deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-30 {
  100% {
    transform: translate3d(77vw, 29vh, 25px);
  }
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(77vw, 29vh, 25px);
  }
}
.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 0.54;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  transform: translate3d(51vw, 29vh, 56px);
  background: hsl(342deg, 70%, 50%);
}