* {
  box-sizing: border-box;
}

a {
  color: #ddd;
  text-decoration: none;
}

@font-face {
  font-family: OpenSans;
  src: url("../font/OpenSans.ttf");
}
body {
  background: #333;
  color: #ddd;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  line-height: 1;
  font-size: 1rem;
  overflow: hidden;
  font-family: OpenSans, serif;
}

@media screen and (max-width: 767px) {
  .side, .main, .player {
    position: absolute;
    left: 0;
  }

  [data-toggle=side] {
    visibility: visible !important;
  }

  .side, .main {
    top: 0;
    height: 100vh;
  }

  .player {
    flex-direction: column;
    bottom: 0;
    z-index: 2;
    background: #333 !important;
    box-shadow: inset 0 0 50px rgba(17, 17, 17, 0.5);
  }
  .player * {
    width: 100%;
    text-align: center;
  }

  .main, .player {
    width: 100vw;
  }

  .side {
    z-index: 4;
    background: #333;
    width: 100vw !important;
  }
  .side.active {
    width: 0px !important;
  }

  #search {
    width: auto !important;
    flex-grow: 1;
    margin-left: 1rem;
  }

  #player-title {
    font-size: 1.5rem;
  }

  .player-icon {
    display: none;
  }

  #slider-value {
    text-align: left;
  }

  #slider-max {
    text-align: right;
  }

  .sm-none {
    display: none;
  }
}
.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  background: rgba(17, 17, 17, 0.7);
}
.wrapper [data-toggle=side] {
  visibility: hidden;
}
.wrapper .side {
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: inset 0 0 30px #111;
  padding: 0.25rem 0;
  transition: width 0.5s;
  width: 240px;
}
.wrapper .side .divider, .wrapper .side .header, .wrapper .side .item {
  padding: 0.5rem 1.5rem;
}
.wrapper .side .brand {
  gap: 0.25rem;
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem 1.5rem 0 1.5rem;
}
.wrapper .side .brand i {
  font-size: 2.5rem;
}
.wrapper .side .divider {
  border-bottom: 1.5pt solid #888;
  margin: 1rem 1.5rem;
  padding: 0;
}
.wrapper .side .header {
  color: #888;
  text-transform: uppercase;
}
.wrapper .side .item {
  display: flex;
  align-items: center;
  transition: background 0.5s, border-color 0.5s;
  border-left: 2px solid transparent;
  gap: 0.3rem;
  white-space: nowrap;
}
.wrapper .side .item.active:not(.disabled) {
  border-color: #ddd;
}
.wrapper .side .item:hover:not(.disabled) {
  background: rgba(17, 17, 17, 0.7);
}
.wrapper .side .item i {
  font-size: 1.5rem;
}
.wrapper .side .item.disabled {
  opacity: 0.5;
}
.wrapper .main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: auto;
}
.wrapper .main .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.wrapper .main .content {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.wrapper .main .content #list {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}
.wrapper .main .content .header {
  background: rgba(51, 51, 51, 0.8);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.wrapper .main .player {
  display: flex;
  align-items: center;
  background: rgba(51, 51, 51, 0.5);
  padding: 0.75rem;
  gap: 0.75rem;
}
.wrapper .main .player .details {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: 100px;
}
.wrapper .main .player .slider-values {
  display: flex;
  justify-content: space-between;
}
.wrapper .main #player-title {
  flex-grow: 1;
}
.wrapper .main #search {
  width: 360px;
}

.card {
  padding: 1rem;
  margin: 0.5rem 1rem;
  cursor: pointer;
  transition: background 0.5s;
  border-bottom: thin solid #888;
}
.card:hover, .card:active {
  background: rgba(17, 17, 17, 0.8);
}

td {
  padding: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

tr {
  border: none !important;
}

table {
  border-collapse: collapse;
}

.secondary {
  color: #ddd;
  font-size: smaller;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.button {
  color: #888;
  padding: 0.2rem;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 2px solid #888;
  transition: background 0.5s, color 0.5s, border-color 0.5s;
  cursor: pointer;
}
.button:hover {
  background: #111;
  border-color: #ddd;
  color: #ddd;
}

.toggler label {
  cursor: pointer;
}
.toggler input {
  display: none;
}
.toggler input ~ label.on {
  display: none;
}
.toggler input ~ label.off {
  display: block;
}
.toggler input:checked ~ label.on {
  display: block;
}
.toggler input:checked ~ label.off {
  display: none;
}

button {
  font: inherit;
  color: #888;
  border: 2px solid #888;
  background: none;
  outline: none;
  border-radius: 10px;
}
button:hover {
  background: rgba(17, 17, 17, 0.7);
  border-color: #ddd;
  color: #ddd;
}

input {
  font: inherit;
  font-size: 0.9rem;
  color: #ddd;
  border: none;
  outline: none;
  background: rgba(136, 136, 136, 0.05);
  border-radius: 20px;
}

.input-group {
  background: rgba(136, 136, 136, 0.05);
  border-radius: 2rem;
}
.input-group > * {
  padding: 0.5rem 1rem;
}
.input-group > *:first-child {
  border-radius: 2rem 0 0 2rem;
}
.input-group > *:last-child {
  border-radius: 0 2rem 2rem 0;
}

.flex, .input-group {
  display: flex;
}
.flex.row, .row.input-group {
  flex-direction: row;
}
.flex.column, .column.input-group {
  flex-direction: column;
}
.flex.rrow, .rrow.input-group {
  flex-direction: row-reverse;
}
.flex.rcolumn, .rcolumn.input-group {
  flex-direction: column-reverse;
}
.flex.start, .start.input-group {
  justify-content: start;
}
.flex.center, .center.input-group {
  justify-content: center;
}
.flex.end, .end.input-group {
  justify-content: end;
}
.flex.between, .between.input-group {
  justify-content: space-between;
}
.flex.top, .top.input-group {
  align-items: flex-start;
}
.flex.middle, .input-group {
  align-items: center;
}
.flex.bottom, .bottom.input-group {
  align-items: flex-end;
}
.flex.grow, .grow.input-group {
  flex-grow: 1;
}

.text-xxs, .wrapper .main .player .slider-values {
  font-size: 0.7rem;
}

.text-xs {
  font-size: 0.8rem;
}

.text-sm {
  font-size: 0.9rem;
}

.text-lg {
  font-size: 1.5rem;
}

.text-xl {
  font-size: 2rem;
}

.text-xxl {
  font-size: 2.5rem !important;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 0.1rem;
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotate {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
}

.slider {
  overflow: hidden;
}

input[type=range] {
  width: 100%;
  height: 4px;
  overflow: hidden;
  cursor: pointer;
}
input[type=range], input[type=range]::-webkit-slider-runnable-track, input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range][list]::-webkit-slider-container {
  min-height: 4px;
}
input[type=range]::-webkit-slider-container {
  -webkit-user-modify: read-write !important;
  height: 4px;
  background: #888;
  border: none;
}
input[type=range]::-moz-range-track {
  height: 4px;
  background: #888;
  border: none;
}
input[type=range]::-webkit-slider-thumb {
  width: 5px;
  height: 4px;
  box-shadow: -100vh 0 0 100vh #ddd;
  background-color: #ddd;
  border: none;
}
input[type=range]::-moz-range-thumb {
  width: 5px;
  height: 4px;
  box-shadow: -100vh 0 0 100vh #ddd;
  background-color: #ddd;
  border: none;
}
input[type=range]:focus {
  outline: none;
}

.particle-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  left: 0;
  top: 0;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    transform: translate3d(24vw, 49vh, 58px);
  }
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(24vw, 49vh, 58px);
  }
}
.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.08;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  transform: translate3d(70vw, 6vh, 45px);
  background: hsl(14deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-2 {
  100% {
    transform: translate3d(35vw, 58vh, 40px);
  }
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(35vw, 58vh, 40px);
  }
}
.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.81;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  transform: translate3d(46vw, 79vh, 68px);
  background: hsl(357deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-3 {
  100% {
    transform: translate3d(73vw, 52vh, 29px);
  }
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(73vw, 52vh, 29px);
  }
}
.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.77;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  transform: translate3d(5vw, 73vh, 81px);
  background: hsl(8deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-4 {
  100% {
    transform: translate3d(2vw, 70vh, 78px);
  }
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(2vw, 70vh, 78px);
  }
}
.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.51;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  transform: translate3d(11vw, 46vh, 77px);
  background: hsl(164deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-5 {
  100% {
    transform: translate3d(3vw, 66vh, 36px);
  }
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(3vw, 66vh, 36px);
  }
}
.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.59;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  transform: translate3d(31vw, 70vh, 77px);
  background: hsl(210deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-6 {
  100% {
    transform: translate3d(40vw, 66vh, 49px);
  }
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(40vw, 66vh, 49px);
  }
}
.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.54;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  transform: translate3d(47vw, 50vh, 18px);
  background: hsl(62deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-7 {
  100% {
    transform: translate3d(15vw, 11vh, 91px);
  }
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(15vw, 11vh, 91px);
  }
}
.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.61;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  transform: translate3d(17vw, 70vh, 74px);
  background: hsl(336deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-8 {
  100% {
    transform: translate3d(68vw, 78vh, 69px);
  }
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(68vw, 78vh, 69px);
  }
}
.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.21;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  transform: translate3d(83vw, 34vh, 12px);
  background: hsl(102deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-9 {
  100% {
    transform: translate3d(33vw, 52vh, 12px);
  }
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(33vw, 52vh, 12px);
  }
}
.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.84;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  transform: translate3d(39vw, 32vh, 69px);
  background: hsl(28deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-10 {
  100% {
    transform: translate3d(6vw, 51vh, 67px);
  }
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(6vw, 51vh, 67px);
  }
}
.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.33;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  transform: translate3d(19vw, 20vh, 31px);
  background: hsl(25deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-11 {
  100% {
    transform: translate3d(10vw, 48vh, 27px);
  }
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(10vw, 48vh, 27px);
  }
}
.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.89;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  transform: translate3d(66vw, 57vh, 59px);
  background: hsl(286deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-12 {
  100% {
    transform: translate3d(64vw, 59vh, 36px);
  }
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(64vw, 59vh, 36px);
  }
}
.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.13;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  transform: translate3d(28vw, 59vh, 37px);
  background: hsl(276deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-13 {
  100% {
    transform: translate3d(80vw, 12vh, 85px);
  }
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(80vw, 12vh, 85px);
  }
}
.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.73;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  transform: translate3d(4vw, 66vh, 11px);
  background: hsl(192deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-14 {
  100% {
    transform: translate3d(42vw, 81vh, 77px);
  }
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(42vw, 81vh, 77px);
  }
}
.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.78;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  transform: translate3d(90vw, 63vh, 13px);
  background: hsl(170deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-15 {
  100% {
    transform: translate3d(39vw, 54vh, 34px);
  }
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(39vw, 54vh, 34px);
  }
}
.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.79;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  transform: translate3d(67vw, 65vh, 94px);
  background: hsl(257deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-16 {
  100% {
    transform: translate3d(5vw, 57vh, 23px);
  }
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(5vw, 57vh, 23px);
  }
}
.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.77;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  transform: translate3d(45vw, 57vh, 77px);
  background: hsl(155deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-17 {
  100% {
    transform: translate3d(45vw, 18vh, 90px);
  }
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(45vw, 18vh, 90px);
  }
}
.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.1;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  transform: translate3d(19vw, 15vh, 75px);
  background: hsl(157deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-18 {
  100% {
    transform: translate3d(37vw, 87vh, 38px);
  }
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(37vw, 87vh, 38px);
  }
}
.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.1;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  transform: translate3d(44vw, 29vh, 26px);
  background: hsl(40deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-19 {
  100% {
    transform: translate3d(27vw, 8vh, 30px);
  }
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(27vw, 8vh, 30px);
  }
}
.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.62;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  transform: translate3d(5vw, 56vh, 19px);
  background: hsl(145deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-20 {
  100% {
    transform: translate3d(75vw, 9vh, 31px);
  }
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(75vw, 9vh, 31px);
  }
}
.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.68;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  transform: translate3d(37vw, 13vh, 27px);
  background: hsl(51deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-21 {
  100% {
    transform: translate3d(69vw, 12vh, 73px);
  }
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(69vw, 12vh, 73px);
  }
}
.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.52;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  transform: translate3d(48vw, 62vh, 21px);
  background: hsl(39deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-22 {
  100% {
    transform: translate3d(71vw, 90vh, 50px);
  }
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(71vw, 90vh, 50px);
  }
}
.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.28;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  transform: translate3d(88vw, 81vh, 74px);
  background: hsl(331deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-23 {
  100% {
    transform: translate3d(70vw, 80vh, 76px);
  }
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(70vw, 80vh, 76px);
  }
}
.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.38;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  transform: translate3d(16vw, 65vh, 73px);
  background: hsl(71deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-24 {
  100% {
    transform: translate3d(4vw, 78vh, 2px);
  }
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(4vw, 78vh, 2px);
  }
}
.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.1;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  transform: translate3d(28vw, 29vh, 74px);
  background: hsl(163deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-25 {
  100% {
    transform: translate3d(32vw, 14vh, 18px);
  }
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(32vw, 14vh, 18px);
  }
}
.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.3;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  transform: translate3d(46vw, 48vh, 72px);
  background: hsl(81deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-26 {
  100% {
    transform: translate3d(49vw, 46vh, 68px);
  }
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(49vw, 46vh, 68px);
  }
}
.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.16;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  transform: translate3d(74vw, 38vh, 35px);
  background: hsl(164deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-27 {
  100% {
    transform: translate3d(54vw, 51vh, 26px);
  }
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(54vw, 51vh, 26px);
  }
}
.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.55;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  transform: translate3d(85vw, 79vh, 70px);
  background: hsl(311deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-28 {
  100% {
    transform: translate3d(74vw, 57vh, 16px);
  }
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(74vw, 57vh, 16px);
  }
}
.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 0.08;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  transform: translate3d(24vw, 1vh, 40px);
  background: hsl(196deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-29 {
  100% {
    transform: translate3d(47vw, 44vh, 40px);
  }
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(47vw, 44vh, 40px);
  }
}
.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.85;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  transform: translate3d(4vw, 55vh, 25px);
  background: hsl(53deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-30 {
  100% {
    transform: translate3d(50vw, 87vh, 43px);
  }
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(50vw, 87vh, 43px);
  }
}
.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 0.51;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  transform: translate3d(78vw, 30vh, 1px);
  background: hsl(269deg, 70%, 50%);
}