* {
  box-sizing: border-box;
}

a {
  color: #ddd;
  text-decoration: none;
}

@font-face {
  font-family: OpenSans;
  src: url("./font/OpenSans.ttf");
}
body {
  background: #333;
  color: #ddd;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  line-height: 1;
  font-size: 1rem;
  overflow: hidden;
  font-family: OpenSans, serif;
}

@media screen and (max-width: 767px) {
  .side, .main, .player {
    position: absolute;
    left: 0;
  }

  [data-toggle=side] {
    visibility: visible !important;
  }

  .side, .main {
    top: 0;
    height: 100vh;
  }

  .player {
    flex-direction: column;
    bottom: 0;
    z-index: 2;
    background: #333 !important;
    box-shadow: inset 0 0 50px rgba(17, 17, 17, 0.5);
  }
  .player * {
    width: 100%;
    text-align: center;
  }

  .main, .player {
    width: 100vw;
  }

  .side {
    z-index: 4;
    background: #333;
    width: 100vw !important;
  }
  .side.active {
    width: 0px !important;
  }

  #search {
    width: auto !important;
    flex-grow: 1;
    margin-left: 1rem;
  }

  #player-title {
    font-size: 1.5rem;
  }

  .player-icon {
    display: none;
  }

  #slider-value {
    text-align: left;
  }

  #slider-max {
    text-align: right;
  }

  .sm-none {
    display: none;
  }
}
.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  background: rgba(17, 17, 17, 0.7);
}
.wrapper [data-toggle=side] {
  visibility: hidden;
}
.wrapper .side {
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: inset 0 0 30px #111;
  padding: 0.25rem 0;
  transition: width 0.5s;
  width: 240px;
}
.wrapper .side .divider, .wrapper .side .header, .wrapper .side .item {
  padding: 0.5rem 1.5rem;
}
.wrapper .side .brand {
  gap: 0.25rem;
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem 1.5rem 0 1.5rem;
}
.wrapper .side .brand i {
  font-size: 2.5rem;
}
.wrapper .side .divider {
  border-bottom: 1.5pt solid #888;
  margin: 1rem 1.5rem;
  padding: 0;
}
.wrapper .side .header {
  color: #888;
  text-transform: uppercase;
}
.wrapper .side .item {
  display: flex;
  align-items: center;
  transition: background 0.5s, border-color 0.5s;
  border-left: 2px solid transparent;
  gap: 0.3rem;
  white-space: nowrap;
}
.wrapper .side .item.active:not(.disabled) {
  border-color: #ddd;
}
.wrapper .side .item:hover:not(.disabled) {
  background: rgba(17, 17, 17, 0.7);
}
.wrapper .side .item i {
  font-size: 1.5rem;
}
.wrapper .side .item.disabled {
  opacity: 0.5;
}
.wrapper .main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: auto;
}
.wrapper .main .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.wrapper .main .content {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.wrapper .main .content #list {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}
.wrapper .main .content .header {
  background: rgba(51, 51, 51, 0.8);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.wrapper .main .player {
  display: flex;
  align-items: center;
  background: rgba(51, 51, 51, 0.5);
  padding: 0.75rem;
  gap: 0.75rem;
}
.wrapper .main .player .details {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: 100px;
}
.wrapper .main .player .slider-values {
  display: flex;
  justify-content: space-between;
}
.wrapper .main #player-title {
  flex-grow: 1;
}
.wrapper .main #search {
  width: 360px;
}

.card {
  padding: 1rem;
  margin: 0.5rem 1rem;
  cursor: pointer;
  transition: background 0.5s;
  border-bottom: thin solid #888;
}
.card:hover, .card:active {
  background: rgba(17, 17, 17, 0.8);
}

td {
  padding: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

tr {
  border: none !important;
}

table {
  border-collapse: collapse;
}

.secondary {
  color: #ddd;
  font-size: smaller;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.button {
  color: #888;
  padding: 0.2rem;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 2px solid #888;
  transition: background 0.5s, color 0.5s, border-color 0.5s;
  cursor: pointer;
}
.button:hover {
  background: #111;
  border-color: #ddd;
  color: #ddd;
}

.toggler label {
  cursor: pointer;
}
.toggler input {
  display: none;
}
.toggler input ~ label.on {
  display: none;
}
.toggler input ~ label.off {
  display: block;
}
.toggler input:checked ~ label.on {
  display: block;
}
.toggler input:checked ~ label.off {
  display: none;
}

button {
  font: inherit;
  color: #888;
  border: 2px solid #888;
  background: none;
  outline: none;
  border-radius: 10px;
}
button:hover {
  background: rgba(17, 17, 17, 0.7);
  border-color: #ddd;
  color: #ddd;
}

input {
  font: inherit;
  font-size: 0.9rem;
  color: #ddd;
  border: none;
  outline: none;
  background: rgba(136, 136, 136, 0.05);
  border-radius: 20px;
}

.input-group {
  background: rgba(136, 136, 136, 0.05);
  border-radius: 2rem;
}
.input-group > * {
  padding: 0.5rem 1rem;
}
.input-group > *:first-child {
  border-radius: 2rem 0 0 2rem;
}
.input-group > *:last-child {
  border-radius: 0 2rem 2rem 0;
}

.flex, .input-group {
  display: flex;
}
.flex.row, .row.input-group {
  flex-direction: row;
}
.flex.column, .column.input-group {
  flex-direction: column;
}
.flex.rrow, .rrow.input-group {
  flex-direction: row-reverse;
}
.flex.rcolumn, .rcolumn.input-group {
  flex-direction: column-reverse;
}
.flex.start, .start.input-group {
  justify-content: start;
}
.flex.center, .center.input-group {
  justify-content: center;
}
.flex.end, .end.input-group {
  justify-content: end;
}
.flex.between, .between.input-group {
  justify-content: space-between;
}
.flex.top, .top.input-group {
  align-items: flex-start;
}
.flex.middle, .input-group {
  align-items: center;
}
.flex.bottom, .bottom.input-group {
  align-items: flex-end;
}
.flex.grow, .grow.input-group {
  flex-grow: 1;
}

.text-xxs, .wrapper .main .player .slider-values {
  font-size: 0.7rem;
}

.text-xs {
  font-size: 0.8rem;
}

.text-sm {
  font-size: 0.9rem;
}

.text-lg {
  font-size: 1.5rem;
}

.text-xl {
  font-size: 2rem;
}

.text-xxl {
  font-size: 2.5rem !important;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 0.1rem;
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotate {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
}

.slider {
  overflow: hidden;
}

input[type=range] {
  width: 100%;
  height: 4px;
  overflow: hidden;
  cursor: pointer;
}
input[type=range], input[type=range]::-webkit-slider-runnable-track, input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range][list]::-webkit-slider-container {
  min-height: 4px;
}
input[type=range]::-webkit-slider-container {
  -webkit-user-modify: read-write !important;
  height: 4px;
  background: #888;
  border: none;
}
input[type=range]::-moz-range-track {
  height: 4px;
  background: #888;
  border: none;
}
input[type=range]::-webkit-slider-thumb {
  width: 5px;
  height: 4px;
  box-shadow: -100vh 0 0 100vh #ddd;
  background-color: #ddd;
  border: none;
}
input[type=range]::-moz-range-thumb {
  width: 5px;
  height: 4px;
  box-shadow: -100vh 0 0 100vh #ddd;
  background-color: #ddd;
  border: none;
}
input[type=range]:focus {
  outline: none;
}

.particle-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  left: 0;
  top: 0;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    transform: translate3d(40vw, 70vh, 6px);
  }
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(40vw, 70vh, 6px);
  }
}
.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.85;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  transform: translate3d(46vw, 46vh, 61px);
  background: hsl(160deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-2 {
  100% {
    transform: translate3d(71vw, 53vh, 83px);
  }
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(71vw, 53vh, 83px);
  }
}
.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.87;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  transform: translate3d(56vw, 83vh, 54px);
  background: hsl(210deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-3 {
  100% {
    transform: translate3d(23vw, 1vh, 82px);
  }
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(23vw, 1vh, 82px);
  }
}
.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.98;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  transform: translate3d(8vw, 78vh, 100px);
  background: hsl(230deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-4 {
  100% {
    transform: translate3d(88vw, 59vh, 67px);
  }
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(88vw, 59vh, 67px);
  }
}
.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.45;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  transform: translate3d(28vw, 29vh, 11px);
  background: hsl(51deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-5 {
  100% {
    transform: translate3d(39vw, 23vh, 59px);
  }
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(39vw, 23vh, 59px);
  }
}
.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 1;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  transform: translate3d(75vw, 82vh, 5px);
  background: hsl(182deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-6 {
  100% {
    transform: translate3d(63vw, 3vh, 98px);
  }
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(63vw, 3vh, 98px);
  }
}
.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.82;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  transform: translate3d(87vw, 16vh, 68px);
  background: hsl(254deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-7 {
  100% {
    transform: translate3d(67vw, 86vh, 12px);
  }
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(67vw, 86vh, 12px);
  }
}
.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.43;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  transform: translate3d(34vw, 3vh, 35px);
  background: hsl(290deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-8 {
  100% {
    transform: translate3d(83vw, 62vh, 44px);
  }
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(83vw, 62vh, 44px);
  }
}
.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.5;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  transform: translate3d(58vw, 4vh, 94px);
  background: hsl(37deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-9 {
  100% {
    transform: translate3d(40vw, 17vh, 84px);
  }
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(40vw, 17vh, 84px);
  }
}
.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.62;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  transform: translate3d(89vw, 37vh, 31px);
  background: hsl(193deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-10 {
  100% {
    transform: translate3d(34vw, 78vh, 62px);
  }
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(34vw, 78vh, 62px);
  }
}
.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.97;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  transform: translate3d(1vw, 28vh, 63px);
  background: hsl(14deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-11 {
  100% {
    transform: translate3d(83vw, 34vh, 60px);
  }
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(83vw, 34vh, 60px);
  }
}
.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.45;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  transform: translate3d(86vw, 4vh, 52px);
  background: hsl(253deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-12 {
  100% {
    transform: translate3d(29vw, 29vh, 73px);
  }
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(29vw, 29vh, 73px);
  }
}
.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.89;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  transform: translate3d(62vw, 12vh, 48px);
  background: hsl(32deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-13 {
  100% {
    transform: translate3d(16vw, 67vh, 95px);
  }
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(16vw, 67vh, 95px);
  }
}
.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.38;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  transform: translate3d(15vw, 15vh, 98px);
  background: hsl(162deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-14 {
  100% {
    transform: translate3d(61vw, 29vh, 32px);
  }
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(61vw, 29vh, 32px);
  }
}
.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.9;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  transform: translate3d(57vw, 74vh, 12px);
  background: hsl(55deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-15 {
  100% {
    transform: translate3d(48vw, 18vh, 46px);
  }
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(48vw, 18vh, 46px);
  }
}
.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.68;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  transform: translate3d(2vw, 73vh, 44px);
  background: hsl(213deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-16 {
  100% {
    transform: translate3d(66vw, 17vh, 87px);
  }
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(66vw, 17vh, 87px);
  }
}
.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.47;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  transform: translate3d(50vw, 86vh, 66px);
  background: hsl(224deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-17 {
  100% {
    transform: translate3d(46vw, 15vh, 88px);
  }
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(46vw, 15vh, 88px);
  }
}
.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.62;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  transform: translate3d(7vw, 34vh, 50px);
  background: hsl(275deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-18 {
  100% {
    transform: translate3d(70vw, 16vh, 89px);
  }
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(70vw, 16vh, 89px);
  }
}
.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.08;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  transform: translate3d(32vw, 14vh, 57px);
  background: hsl(327deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-19 {
  100% {
    transform: translate3d(70vw, 75vh, 75px);
  }
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(70vw, 75vh, 75px);
  }
}
.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.71;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  transform: translate3d(56vw, 27vh, 3px);
  background: hsl(348deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-20 {
  100% {
    transform: translate3d(9vw, 23vh, 61px);
  }
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(9vw, 23vh, 61px);
  }
}
.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.02;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  transform: translate3d(16vw, 78vh, 90px);
  background: hsl(316deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-21 {
  100% {
    transform: translate3d(17vw, 13vh, 38px);
  }
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(17vw, 13vh, 38px);
  }
}
.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.59;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  transform: translate3d(44vw, 81vh, 69px);
  background: hsl(243deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-22 {
  100% {
    transform: translate3d(34vw, 83vh, 90px);
  }
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(34vw, 83vh, 90px);
  }
}
.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.49;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  transform: translate3d(54vw, 60vh, 25px);
  background: hsl(233deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-23 {
  100% {
    transform: translate3d(48vw, 24vh, 58px);
  }
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(48vw, 24vh, 58px);
  }
}
.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.86;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  transform: translate3d(84vw, 81vh, 88px);
  background: hsl(40deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-24 {
  100% {
    transform: translate3d(21vw, 7vh, 68px);
  }
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(21vw, 7vh, 68px);
  }
}
.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.4;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  transform: translate3d(89vw, 20vh, 93px);
  background: hsl(134deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-25 {
  100% {
    transform: translate3d(36vw, 14vh, 12px);
  }
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(36vw, 14vh, 12px);
  }
}
.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.15;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  transform: translate3d(29vw, 42vh, 58px);
  background: hsl(349deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-26 {
  100% {
    transform: translate3d(23vw, 10vh, 48px);
  }
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(23vw, 10vh, 48px);
  }
}
.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.28;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  transform: translate3d(59vw, 88vh, 61px);
  background: hsl(6deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-27 {
  100% {
    transform: translate3d(51vw, 13vh, 16px);
  }
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(51vw, 13vh, 16px);
  }
}
.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.4;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  transform: translate3d(62vw, 89vh, 39px);
  background: hsl(303deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-28 {
  100% {
    transform: translate3d(16vw, 65vh, 79px);
  }
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(16vw, 65vh, 79px);
  }
}
.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 0.34;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  transform: translate3d(19vw, 6vh, 29px);
  background: hsl(301deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-29 {
  100% {
    transform: translate3d(86vw, 20vh, 61px);
  }
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(86vw, 20vh, 61px);
  }
}
.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.22;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  transform: translate3d(21vw, 51vh, 24px);
  background: hsl(220deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-30 {
  100% {
    transform: translate3d(37vw, 47vh, 26px);
  }
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(37vw, 47vh, 26px);
  }
}
.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 0.1;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  transform: translate3d(63vw, 58vh, 20px);
  background: hsl(160deg, 70%, 50%);
}